
<nav>
	<div class="logo"><img src="http://moziru.com/images/drawn-pear-animated-3.jpg"></div>
</nav>


<div id="clearance" class="sign-in-with-email">
  <h4><%= t(".title") %></h4>

  <%= render partial: '/sessions/form' %>

</div>


