<h4>All reservations</h4>

<p><% @reservations.each do |r|%></p>
	<p><%= r.id %></p>
	<p><%= r.start_date %></p>
	<p><%= r.end_date %></p>
	<p>RM 20</p><br />
	<%= button_to "Delete Reservation", listing_reservation_path(r.listing,r), method: :delete %>
	<%#= form_tag(listing_reservation_path(r.listing,r), method: "delete") do %>
	<%#= submit_tag "Delete reservation", :name => nil, data: {confirm: "Are you sure?"} %>
	<%# end %>
	<br />
	<% end %>
	<br />

	

